.DS_Store

#AS
#all hidden files
.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore


#testing to ignore ipynb_checkpoints
# it will work only for untracked files ; :/
.ipynb_checkpoints
TestData/metadata.csv
TestData/preferred_Feature_table.tsv
Notebooks/FT.tsv
*.DS_Store

Docs/~$CreateGithubPages.pptx
